{% extends 'base/base.html' %}
{% block title %}Список писем{% endblock title %}
{% block content %}
<div class="col-12 mb-4">
    <a class="btn btn-outline-primary" href="{% url 'letters:letters_create' %}">Добавить письмо</a>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название рассылки</th>
        <th scope="col">Письмо</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tbody>
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.topic }}</td>
        <td>{{ object.body | truncatechars:20}}</td>
        <td>
            <a href="{% url 'letters:letters_detail' object.pk %}" class="btn btn-primary btn-sm">Просмотр</a>
        </td>
        <td>
            <a href="{% url 'letters:letters_update' object.pk %}" class="btn btn-primary btn-sm">Изменить</a>
        </td>
        <td>
            <a href="{% url 'letters:letters_delete' object.pk %}" class="btn btn-danger btn-sm">Удалить</a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>


{% endblock %}