{% extends 'base/base.html' %}
{% block title %}
    {% if object %}
        Изменить рассылку
    {% else %}
        Создать рассылку
    {% endif %}
{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="row">
                        {% if object %}
                        <button type="submit" class="btn btn-success ml-5 px-2 pb-md-2 mx-2" role="button">Сохранить
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-success ml-5 px-2 pb-md-2 mx-2" role="button">Создать
                        </button>
                        {% endif %}
                        <a class="btn btn-primary px-2 pb-md-2 mx-2" href="{% url 'distributions:distributions_list' %}"
                           role="button">Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
