{% extends 'distributions/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h3>Образец</h3>
    </div>
    <div class="card-body">
        <b>Список клиентов для рассылки "Образец"</b>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Email</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col"></th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>client_1</td>
                    <td>client_1@example.com</td>
                    <td>Первый клиент</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm">Удалить</a>
                    </td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>client_2</td>
                    <td>client_2@example.com</td>
                    <td>Второй клиент</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm">Удалить</a>
                    </td>

                </tr>

                </tbody>

            </table>

        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-success">Добавить клиента</a>
    </div>
</div>

{% endblock %}