{% extends 'distributions/base.html' %}
{% block title %}НеСпам{% endblock title %}
{% block header %}Cервис управления рассылками, администрирования и получения статистики{% endblock header %}
{% block content %}

<div class="row">
    <div class="col-4">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Eжедневная</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Образец
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Первая отправка: 17 октября 2024 г. 12:00</li>
                        <li>Статус: создана</li>
                    </ul>
                    <a class="btn btn-lg btn-outline-primary"
                       href="{% url 'distributions:distributions_examples_clients' %}" role="button">Изменить</a>
                    <a class="btn btn-lg btn-outline-danger" href="#" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Еженедельная</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Образец
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Первая отправка: 17 октября 2024 г. 12:00</li>
                        <li>Статус: запущена</li>
                    </ul>
                    <a class="btn btn-lg btn-outline-primary"
                       href="{% url 'distributions:distributions_examples_clients' %}" role="button">Изменить</a>
                    <a class="btn btn-lg btn-outline-danger" href="#" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Ежемесячная</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Образец
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Первая отправка: 17 октября 2024 г. 12:00</li>
                        <li>Статус: завершена</li>
                    </ul>
                    <a class="btn btn-lg btn-outline-primary"
                       href="{% url 'distributions:distributions_examples_clients' %}" role="button">Изменить</a>
                    <a class="btn btn-lg btn-outline-danger" href="#" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="display-6 text-center mb-4">Compare plans</h2>

<div class="table-responsive">
    <table class="table text-center">
        <thead>
        <tr>
            <th style="width: 30%;"></th>
            <th style="width: 20%;">Free</th>
            <th style="width: 20%;">Pro</th>
            <th style="width: 20%;">Enterprise</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-start">Public</th>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Private</th>
            <td></td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <th scope="row" class="text-start">Permissions</th>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Sharing</th>
            <td></td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Unlimited members</th>
            <td></td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Extra security</th>
            <td></td>
            <td></td>
            <td>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"/>
                </svg>
            </td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}